.block {
  background-color: #ffffff;
  color:black;
  border-radius: 15px;
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #e5e5e5;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  position: relative;

  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

/* === FONTS==== */
.parisienne-regular {
  font-family: "Parisienne", cursive;
  font-weight: 400;
  font-style: normal;
}
.stack-sans-text-sans {
  font-family: "Stack Sans Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.block:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 10px #518CA4;
}

.intro-block {
  background-color: #ffffff;
  color:black;
  border-radius: 15px;
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #e5e5e5;
  box-shadow: 0 4px 10px #518CA4;
  position: relative;
  max-width: 90%;
}
.opaque-block {
  background-color: rgba(255,255,255,0.5);
  backdrop-filter: blur(10px);
  color:black;
  border-radius: 15px;
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #e5e5e5;
  box-shadow: 0 4px 10px #518CA4;
  position: relative;
  max-width: 90%;
}

.quote{
  font-size: clamp(1em, 15vh, 3em);
}
.block h2{
    font-size: 2em;
}
h2{
    font-size: 2em;
}
.block ul {
    list-style-type: disc;
    padding-left: 1.5em;
}
.page{
    margin-top: 1em;
    display:flex;
    flex-direction:column;
    justify-content:center;
    min-width: 100%;
}
.pages {
    margin-top: 1em;
    display: flex;
}

.page-row {
    flex-direction: row;
    justify-content: center;
    gap: 2em;
}

.page-col {
    flex-direction: column;
    justify-content: center;
    gap: 2em;
}
.mainContent{
    margin: 2em;
    
}
.horizontal{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}


.button-bar{
  display:flex;
  flex-direction:row;
  /* margin-top:1em; */
  margin-bottom:1em;
  min-width: 100%;
  justify-content: space-evenly;
}
@media (max-width: 768px){
  .button-bar{
    flex-direction: column;
  }
  .button-bar-full{
    flex-direction: column !important;
  }
  .text-gradient{
      font-size: 3em;
      background-size: 400% 400%;
  }
  
  .button-bar-left, .button-bar-right{
    width: 100%;
    justify-content: center !important;
    text-align: center;
    flex-direction: row;
    margin-bottom: .25em;
    margin-right:0 !important;
  }
  .name{
   margin-left: 0 !important; 
  }

  
}
.button-bar-full{
  display:flex;
  flex-direction: row-reverse;
  /* margin-top:1em; */
  /* margin-bottom:1em; */
  min-width: 100%;
  justify-content: space-between;
  
}
.button-bar-right{
  display:flex;
  flex-direction:row;
  /* margin-top:1em; */
  margin-bottom:1em;
  
  gap:1em;
  /* padding:1em; */
  /* min-width: 100%; */
  justify-content: right;
  margin: right 1em;
}
.button-bar-left{
  display:flex;
  flex-direction:row;
  gap:1em;
  font-weight: bolder;
  justify-content: left;
  
}
.name{
  font-size: clamp(1rem, 10vw, 4rem);
  color:white;
  margin-left:1em;
  margin-bottom:0;
}
.button{
  background-color: #518CA4;
  color:white;
  margin:auto;
  padding: .5em;
  border-radius: 15px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.Heading{
  color:white;
    font-family: 'Luxurious Script', sans-serif;
}
.Header-bar{
    font-family: "Poppins", sans-serif;
}
.button:hover{
  background-color:#477f96;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.35);
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color:white;
  opacity:0;
  border-radius:15px;
  background-color: rgba(0, 0, 0, 0.8);
  padding:1em;
  transition: opacity 0.5s ease;
  pointer-events: none; /* allow buttons to be clicked */
}

.block:hover .overlay{
  opacity:1;
  
}
.block img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  
}

input[type="text"],input[type="email"],textarea,select{
    width:50%;
    padding:3px;
    margin:10px 20px 10px;
    border:1px solid black;
    border-radius:8px;
}

/* ===== Home Page ===== */
.welcome_pg{
  font-size:clamp(.75em,10vh, 2vh);
}


/*= ===== Gradient Fun!  ====================== */
.Gradient{
  background: linear-gradient(270deg, #518CA4, #27c5ff, #749f8f);
  background-size: 600% 600%;
  animation: gradientMove 10s ease infinite;
}
.text-gradient{
  font-size: clamp(5rem, 12vw, 10rem);
  font-weight:bolder;
  background: linear-gradient(270deg, #518CA4, #27c5ff, #749f8f);
  background-size: 600% 600%;
  animation: gradientMove 10s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-button{
  font-size: 2em;
  margin-top:.5em;
  background: linear-gradient(270deg,#518CA4, #27c5ff, #749f8f );
  background-size:600% 600%;
  animation: gradientMove 10s ease infinite;
  
  /* margin:auto; */
  padding: .5em;
  border-radius: 15px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.gradient-button:hover{
  background: linear-gradient(270deg,#518CA4, #27c5ff, #749f8f );
  background-size:600% 600%;
  animation: gradientMove 5s ease infinite;
  transition: transform 0.15s ease, box-shadow 0.15s ease;
  /* margin:auto; */
  padding: .5em;
  border-radius: 15px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  transform: translateY(-3px);
}

.opaque-button {
  background-color: rgba(255,255,255,0.5);
  backdrop-filter: blur(10px);
  color:black;
  border-radius: 15px;
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #000000;
  box-shadow: 0 4px 10px #000000;
  position: relative;
  max-width: 90%;
}
.opaque-button:hover {
  background-color: rgba(255,255,255,0.7);
  backdrop-filter: blur(10px);
  color:black;
  border-radius: 15px;
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #000000;
  box-shadow: 0 4px 10px #000000;
  position: relative;
  max-width: 90%;
  transform: translateY(-3px);
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}



@keyframes gradientMove{
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}



.fade-in {
  animation: fadeIn 0.5s ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.space{
  justify-content: space-evenly;
  width: 100%;
}